node_modules
.pnpm-store
coverage
coverage/**
dist
dist/**
.nuxt
.nuxt/**
.output
.output/**
.DS_Store
pnpm-lock.yaml
**/node_modules
**/.nuxt
**/.nuxt/**
**/.output
**/.output/**
**/dist
**/dist/**
**/coverage
**/coverage/**
